/admin_docs
/course_venv
/lectures_memes
/images
/old_staff_to_refactor

/lectures_13_16_NNs_CV_AI_LLMs/data/


practice_exercises/outdated_files
students_work/
dissertations

.envrc
.idea/

# Ignore everywhere
*.ipynb_checkpoints

practice_exercises/simple_cases/
